body{
    font-family: 'Fira Sans', sans-serif;
    text-align: justify
    
}

th{
    border:2px solid black; padding:5px;
}
figcaption{
    font-family: 'Times New Roman', Times, serif;
    size: 10px;
}

footer > a {
    color: white; 
    text-decoration: none; 
}

#slider-container {
    width: 80%;
    margin: 0;
    overflow: hidden;
    border-radius: 15px;
}

#slider {
display: flex;
transition: transform 0.5s ease-in-out;
height: 300px; /* Ajuste a altura do slider conforme necessário */
}
.slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
}

footer {
    background-color: rgb(163, 96, 96);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
    border: 0px;
    margin: 0px;
    background: linear-gradient(to right, rgb(216, 182, 182), rgb(163, 96, 96), rgb(216, 182, 182));
}



